.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-grey;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 70rem;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;

  transition: color 0.3s ease;

  &:hover {
    color: darken($color: white, $amount: 20);
  }
}

.journal__entries {
  margin-top: 3rem;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.journal__entry {
  background-color: #fff;
  border-radius: 0.4rem;
  color: $dark-grey;
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
}

.journal__entry-picture {
  height: 7.5rem;
  width: 7.5rem;
}

.journal__entry-body {
  padding: 1rem;
}
.journal_entry-title {
  font-size: 1.4rem;
  font-weight: bold;
}
.journal_entry-content {
  font-size: 1rem;
}
.journal__entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.journal__entry-date-box span {
  font-size: 1.2rem;
}
